Repository ArkEcosystem/explorer, pull requests merged in 2019-10, with the labels that each got.

#653 [WIP] fix: hide marketcap when no currency
  express-server.js
  src/components/ContentHeader.vue
Labels: Complexity: Low, Type: Bugfix

#754 refactor: migrate remaining components to typescript
  .github/workflows/test.yml
  src/App.vue
  src/components/header/currencies/Mobile.vue
  src/components/header/toggles/ToggleLanguage.vue
  src/components/monitor/header/DelegateCount.vue
  src/components/utils/QrCode.js
  src/components/utils/QrCode.ts
  src/components/utils/TableWrapper.ts
  src/pages/404.vue
  tsconfig.json
  typings/qrious/index.d.ts
  typings/vue-good-table/index.d.ts
Labels: Bounty: Tier 4, Complexity: Medium, Status: Contributor Approved, Status: Needs Review, Type: Refactor

#758 refactor: number formatting and tooltip placement
  __tests__/unit/specs/components/block/Details.spec.ts
  __tests__/unit/specs/components/transaction/Details.spec.ts
  __tests__/unit/specs/mixins/misc.spec.ts
  src/components/ContentHeader.vue
  src/components/block/Details.vue
  src/components/tables/Blocks.vue
  src/components/tables/Delegates.vue
  src/components/tables/Transactions.vue
  src/components/tables/mobile/Blocks.vue
  src/components/tables/mobile/Transactions.vue
  src/components/tables/mobile/TransactionsDetail.vue
  src/components/transaction/Details.vue
  src/components/utils/TransactionAmount.vue
  src/components/wallet/Delegate.vue
  src/components/wallet/Voters.vue
  src/mixins/misc.ts
Labels: Bounty: Tier 4, Complexity: Low, Status: Contributor Approved, Type: Refactor

#762 fix: dynamic margins of pagination buttons
  src/components/utils/pagination/Pagination.vue
Labels: Bounty: Tier 5, Complexity: Low, Status: Contributor Approved, Type: Bugfix
