Repository ArkEcosystem/explorer, pull requests merged in 2019-09, with the labels that each got.

#719 fix: block & transaction 404 pages
  __tests__/e2e/specs/homepage_spec.js
  __tests__/e2e/specs/wallet_spec.js
  __tests__/unit/specs/components/utils/NotFound.spec.js
  src/components/block/Transactions.vue
  src/components/home/LatestBlocks.vue
  src/components/home/LatestTransactions.vue
  src/components/utils/NotFound.vue
  src/components/wallet/Transactions.vue
  src/i18n/locales/en-GB.js
  src/i18n/locales/fr-FR.js
  src/i18n/locales/it-IT.js
  src/i18n/locales/nl-NL.js
  src/i18n/locales/pl-PL.js
  src/i18n/locales/pt-BR.js
  src/pages/Block.vue
  src/pages/Transaction.vue
  src/styles/_buttons.css
Labels: Bounty: Tier 4, Complexity: Medium, Status: Contributor Approved, Type: Bugfix

#708 perf: reduce amount of calls to crypto compare
  .babelrc
  __tests__/e2e/specs/transactions_spec.js
  __tests__/unit/specs/components/utils/TransactionAmount.spec.js
  package.json
  src/components/block/Details.vue
  src/components/block/Transactions.vue
  src/components/home/LatestBlocks.vue
  src/components/home/LatestTransactions.vue
  src/components/tables/Blocks.vue
  src/components/tables/Transactions.vue
  src/components/tables/TransactionsDetail.vue
  src/components/tables/mobile/Transactions.vue
  src/components/tables/mobile/TransactionsDetail.vue
  src/components/utils/TransactionAmount.vue
  src/components/wallet/Transactions.vue
  src/pages/Block/Transactions.vue
  src/pages/Blocks.vue
  src/pages/Transactions.vue
  src/pages/Wallet/Blocks.vue
  src/pages/Wallet/Transactions.vue
  src/services/crypto-compare.js
  yarn.lock
Labels: Bounty: Tier 3, Complexity: Medium, Status: Contributor Approved, Type: Performance

#722 chore: improve gh pages script
  build/webpack.prod.conf.js
  config/index.js
  scripts/deploy.sh
  src/router/index.js
Labels: Complexity: Low, Type: Task

#713 feat: ability to switch between price and volume chart
  __tests__/e2e/specs/homepage_spec.js
  __tests__/e2e/specs/wallet_spec.js
  __tests__/unit/jest.conf.js
  __tests__/unit/specs/components/header/ToggleChart.spec.js
  __tests__/unit/specs/store/modules/ui.spec.js
  networks/devnet.json
  networks/mainnet.json
  networks/testnet.json
  src/App.vue
  src/components/ChartWrapper.vue
  src/components/block/Transactions.vue
  src/components/header/HeaderDefault.vue
  src/components/header/toggles/ToggleChart.vue
  src/components/home/LatestBlocks.vue
  src/components/home/LatestTransactions.vue
  src/components/utils/NotFound.vue
  src/components/wallet/Transactions.vue
  src/i18n/locales/en-GB.js
  src/i18n/locales/fr-FR.js
  src/i18n/locales/it-IT.js
  src/i18n/locales/nl-NL.js
  src/i18n/locales/pl-PL.js
  src/i18n/locales/pt-BR.js
  src/pages/Home.vue
  src/services/crypto-compare.js
  src/store/modules/ui.js
  src/store/mutation-types.js
  src/styles/_buttons.css
  src/styles/_charts.css
  src/styles/_general.css
Labels: Bounty: Tier 3, Complexity: High, Status: Contributor Approved, Type: Feature

#723 refactor: delegate table and sort params
  __tests__/unit/specs/store/modules/ui.spec.js
  src/components/index.js
  src/components/monitor/StandbyDelegates.vue
  src/components/monitor/index.js
  src/components/tables/Blocks.vue
  src/components/tables/Delegates.vue
  src/components/tables/Transactions.vue
  src/components/tables/TransactionsDetail.vue
  src/components/tables/Wallets.vue
  src/pages/DelegateMonitor.vue
  src/store/modules/ui.js
  src/store/mutation-types.js
Labels: Bounty: Tier 4, Complexity: High, Status: Contributor Approved, Status: Needs Review, Type: Refactor

#724 feat: replace delegate status icons
  src/assets/images/icons/forging.svg
  src/assets/images/icons/missed-block.svg
  src/assets/images/icons/not-forging.svg
  src/components/monitor/ArkMeter.vue
  src/components/monitor/ForgingStats.vue
  src/components/tables/Delegates.vue
  src/pages/DelegateMonitor.vue
  src/styles/_tooltips.css
  tailwind.config.js
Labels: Bounty: Tier 4, Complexity: Medium, Status: Contributor Approved, Status: Needs Review, Type: Feature

#727 fix: transactions filter
  src/pages/Transactions.vue
Labels: Bounty: Tier 4, Complexity: Low, Status: Contributor Approved, Type: Bugfix

#726 fix: chart options migration
  __tests__/unit/specs/services/blockchain.spec.js
  __tests__/unit/specs/services/migration.spec.js
  src/App.vue
  src/pages/DelegateMonitor.vue
  src/services/index.js
  src/services/migration.js
  src/styles/_buttons.css
Labels: Bounty: Tier 4, Complexity: Low, Status: Contributor Approved, Type: Bugfix

#735 feat: make rebranding explorer easier
  package.json
  src/assets/css/_buttons.css
  src/assets/css/_general.css
  src/assets/css/_tables.css
  src/assets/css/_tabs.css
  src/assets/css/_theme.css
  src/assets/images/icons/facebook.svg
  src/assets/images/icons/github.svg
  src/assets/images/icons/reddit.svg
  src/assets/images/icons/slack.svg
  src/assets/images/icons/social/bitcointalk.svg
  src/assets/images/icons/social/discord.svg
  src/assets/images/icons/social/email.svg
  src/assets/images/icons/social/facebook.svg
  src/assets/images/icons/social/github.svg
  src/assets/images/icons/social/instagram.svg
  src/assets/images/icons/social/medium.svg
  src/assets/images/icons/social/minds.svg
  src/assets/images/icons/social/reddit.svg
  src/assets/images/icons/social/slack.svg
  src/assets/images/icons/social/soundcloud.svg
  src/assets/images/icons/social/steemit.svg
  src/assets/images/icons/social/telegram.svg
  src/assets/images/icons/social/twitter.svg
  src/assets/images/icons/social/youtube.svg
  src/assets/images/icons/telegram.svg
  src/assets/images/icons/transaction.svg
  src/assets/images/icons/twitter.svg
  src/assets/images/icons/youtube.svg
  src/components/AppFooter.vue
  src/components/SvgIcon.vue
  src/components/header/AppHeader.vue
  src/components/header/HeaderDefault.vue
  src/components/header/menu/Desktop.vue
  src/components/header/toggles/ToggleChart.vue
  src/components/header/toggles/ToggleCurrency.vue
  src/components/header/toggles/ToggleLanguage.vue
  src/components/header/toggles/ToggleTheme.vue
  src/components/index.ts
  src/config/index.ts
  src/pages/Transaction.vue
  src/pages/Wallet/Transactions.vue
  src/router/index.ts
  src/services/migration.ts
  tailwind.config.js
  vue.config.js
  yarn.lock
Labels: Complexity: High, Type: Feature

#739 fix: express server
  express-server.js
Labels: Complexity: Low, Type: Bugfix

#740 ci: setup github action workflow for testing
  .circleci/config.yml
  .github/workflows/e2e.yml
  .github/workflows/unit.yml
  package.json
  yarn.lock
Labels: Complexity: Medium

#741 ci: trigger workflows for push.* and pull_request.* events
  .github/workflows/e2e.yml
  .github/workflows/unit.yml
Labels: Complexity: Low
