Repository ArkEcosystem/explorer, pull requests merged in 2019-07, with the labels that each got.

#654 fix: balance tooltip position
  src/components/wallet/Details.vue
Labels: Bounty: Tier 5, Complexity: Low, Type: Bugfix

#656 refactor: replace vue-table-component with vue-good-table
  __tests__/e2e/specs/block-detail.js
  __tests__/e2e/specs/blocks.js
  __tests__/e2e/specs/delegate-monitor.js
  __tests__/e2e/specs/homepage.js
  __tests__/e2e/specs/top-wallets.js
  __tests__/e2e/specs/transactions.js
  __tests__/e2e/specs/voters.js
  __tests__/e2e/specs/wallet.js
  package.json
  src/assets/images/arrows/asc.svg
  src/assets/images/arrows/desc.svg
  src/components/index.js
  src/components/monitor/ActiveDelegates.vue
  src/components/monitor/StandbyDelegates.vue
  src/components/tables/Blocks.vue
  src/components/tables/Transactions.vue
  src/components/tables/TransactionsDetail.vue
  src/components/tables/Wallets.vue
  src/components/utils/TableWrapper.js
  src/i18n/en.json
  src/main.js
  src/styles/_tables.css
  yarn.lock
Labels: Bounty: Tier 3, Complexity: Undetermined, Status: Contributor Approved, Type: Refactor

#658 fix: pass orderby param to transaction requests
  __tests__/unit/specs/blockchain.spec.js
  __tests__/unit/specs/services/node.spec.js
  src/services/transaction.js
Labels: Bounty: Tier 4, Complexity: Low, Type: Bugfix

#667 fix: delegate monitor table responsiveness
  src/components/monitor/ActiveDelegates.vue
  src/components/monitor/StandbyDelegates.vue
Labels: Complexity: Low, Type: Bugfix

#668 chore: merge develop into master
  package.json
  src/components/monitor/ActiveDelegates.vue
  src/components/monitor/StandbyDelegates.vue
  yarn.lock
Labels: Complexity: Undetermined, Type: Task

#672 chore(deps): bump lodash.defaultsdeep from 4.6.0 to 4.6.1
  yarn.lock
Labels: Complexity: Low, Type: Task

#673 chore(deps): bump lodash.merge from 4.6.1 to 4.6.2
  yarn.lock
Labels: Complexity: Low, Type: Task

#670 build: remove npm restriction from engines and webpack
  build/build.js
  build/check-versions.js
  package.json
Labels: Complexity: Low

#669 fix: delegate tables padding
  src/components/monitor/ActiveDelegates.vue
  src/components/monitor/StandbyDelegates.vue
  src/components/tables/Wallets.vue
  src/styles/_tables.css
Labels: Bounty: Tier 4, Complexity: Medium, Status: Contributor Approved, Type: Bugfix

#671 fix: table ordering by timestamp
  src/components/tables/Blocks.vue
  src/components/tables/Transactions.vue
  src/components/tables/TransactionsDetail.vue
Labels: Bounty: Tier 4, Complexity: Low, Status: Contributor Approved, Type: Bugfix

#676 chore: add codacy config
  .codacy.yml
Labels: Complexity: Low, Status: Contributor Approved, Type: Task

#681 chore(readme): add lead maintainer information
  README.md
Labels: Complexity: Low, Type: Task

#677 chore: update all dependencies to their latest versions
  __tests__/e2e/runner.js
  __tests__/unit/jest.setup.js
  __tests__/unit/specs/components/block/Details.spec.js
  __tests__/unit/specs/components/header/Currencies.spec.js
  __tests__/unit/specs/components/header/Languages.spec.js
  __tests__/unit/specs/components/header/Menu.spec.js
  __tests__/unit/specs/components/header/ToggleChart.spec.js
  __tests__/unit/specs/components/header/ToggleCurrency.spec.js
  __tests__/unit/specs/components/header/ToggleLanguage.spec.js
  __tests__/unit/specs/components/header/ToggleTheme.spec.js
  __tests__/unit/specs/components/links/LinkWallet.spec.js
  __tests__/unit/specs/components/monitor/ForgingStats.js
  __tests__/unit/specs/components/monitor/TotalForged.spec.js
  __tests__/unit/specs/components/transaction/Details.spec.js
  __tests__/unit/specs/pages/404.spec.js
  package.json
  src/components/header/HeaderSearch.vue
  src/components/links/LinkWallet.vue
  src/components/utils/Clipboard.vue
  src/mixins/currency.js
  src/services/crypto-compare.js
  yarn.lock
Labels: Bounty: Tier 4, Complexity: Undetermined, Status: Contributor Approved, Type: Task

#685 fix: update webpack deps to fix broken state and disable e2e tests
  .circleci/config.yml
  package.json
  yarn.lock
Labels: Complexity: Medium, Type: Bugfix

#682 fix: block table sorting by generator, reward and fee
  src/components/tables/Blocks.vue
Labels: Complexity: Low, Status: Contributor Approved, Type: Bugfix

#683 feat: store the table sorting options
  __tests__/unit/specs/store/modules/ui.spec.js
  src/components/home/LatestBlocks.vue
  src/components/home/LatestTransactions.vue
  src/components/index.js
  src/components/tables/Blocks.vue
  src/components/tables/Transactions.vue
  src/components/tables/TransactionsDetail.vue
  src/components/tables/Wallets.vue
  src/components/tables/mobile/Transactions.vue
  src/components/tables/mobile/TransactionsDetail.vue
  src/components/wallet/Transactions.vue
  src/pages/TopWallets.vue
  src/pages/Wallet/Voters.vue
  src/store/index.js
  src/store/modules/ui.js
  src/store/mutation-types.js
  src/styles/_tables.css
Labels: Complexity: High, Status: Contributor Approved, Type: Feature

#689 feat: add status icons to the delegate monitor
  src/assets/images/icons/forging.svg
  src/assets/images/icons/missed-block.svg
  src/assets/images/icons/not-forging.svg
  src/components/monitor/ActiveDelegates.vue
Labels: Complexity: Medium, Type: Feature

#687 perf: reduce number of required api calls
  src/services/delegate.js
Labels: Complexity: Low, Status: Contributor Approved, Type: Performance

#690 feat: fetch delegate data every two minutes
  __tests__/unit/specs/components/links/LinkWallet.spec.js
  __tests__/unit/specs/components/utils/TransactionAmount.spec.js
  __tests__/unit/specs/store/modules/delegates.spec.js
  src/App.vue
  src/store/modules/delegates.js
Labels: Complexity: Medium, Status: Contributor Approved, Status: Needs Changes, Type: Feature

#692 Merge develop into master
  __tests__/unit/specs/components/links/LinkWallet.spec.js
  __tests__/unit/specs/components/utils/TransactionAmount.spec.js
  __tests__/unit/specs/store/modules/delegates.spec.js
  src/App.vue
  src/assets/images/icons/forging.svg
  src/assets/images/icons/missed-block.svg
  src/assets/images/icons/not-forging.svg
  src/components/monitor/ActiveDelegates.vue
  src/services/delegate.js
  src/store/modules/delegates.js
Labels: Complexity: Medium
