Repository ArkEcosystem/explorer, pull requests merged in 2019-06, with the labels that each got.

#636 fix: add temporary table fallback repo
  package.json
  yarn.lock
Labels: Complexity: Low, Type: Bugfix

#637 chore: dependency updates
  build/webpack.prod.conf.js
  package.json
  src/pages/DelegateMonitor.vue
  yarn.lock
Labels: Complexity: Undetermined, Type: Task

#638 chore: upgrade webpack-dev-server to a higher - still working - version
  package.json
  yarn.lock
Labels: Complexity: Low, Type: Task

#635 fix: handle undefined delegate rank
  __tests__/unit/specs/components/wallet/Delegate.spec.js
  src/components/wallet/Delegate.vue
  src/i18n/en.json
  src/i18n/fr.json
  src/i18n/it.json
  src/i18n/nl.json
  src/i18n/pl.json
  src/i18n/pt.json
Labels: Bounty: Tier 4, Complexity: Low, Type: Bugfix

#642 fix: install specific version of webpack-cli
  package.json
  yarn.lock
Labels: Complexity: Undetermined, Type: Bugfix

#641 refactor: close currency header immediately on change
  __tests__/unit/specs/components/header/Currencies.spec.js
  src/components/header/currencies/Desktop.vue
  src/components/header/currencies/Mobile.vue
Labels: Bounty: Tier 5, Complexity: Low

#649 test: adapt unit tests to new api responses and use legacy jsonwire mode in e2e tests
  __tests__/e2e/nightwatch.conf.js
  __tests__/unit/specs/services/block.spec.js
  __tests__/unit/specs/services/delegate.spec.js
  __tests__/unit/specs/services/node.spec.js
  __tests__/unit/specs/services/search.spec.js
  __tests__/unit/specs/services/wallet.spec.js
Labels: Bounty: Tier 4, Complexity: Medium, Status: Contributor Approved, Test: Unit

#650 fix: include delegates that never forged in not-forging count
  __tests__/unit/specs/services/forging.spec.js
  src/components/monitor/ForgingStats.vue
  src/services/forging.js
Labels: Bounty: Tier 5, Complexity: Low, Status: Contributor Approved, Type: Bugfix

#651 chore: tailwindcss major version update (v1.0.4)
  .circleci/config.yml
  .postcssrc.js
  __tests__/e2e/nightwatch.conf.js
  __tests__/e2e/specs/wallet.js
  package.json
  src/components/AppFooter.vue
  src/components/ChartWrapper.vue
  src/components/Modal.vue
  src/components/SelectionType.vue
  src/components/header/AppHeader.vue
  src/components/header/HeaderDefault.vue
  src/components/header/currencies/Mobile.vue
  src/components/header/languages/Mobile.vue
  src/components/header/menu/Desktop.vue
  src/components/header/menu/Mobile.vue
  src/components/header/toggles/ToggleChart.vue
  src/components/header/toggles/ToggleCurrency.vue
  src/components/header/toggles/ToggleLanguage.vue
  src/components/header/toggles/ToggleTheme.vue
  src/components/monitor/ActiveDelegates.vue
  src/components/utils/NotFound.vue
  src/components/wallet/Details.vue
  src/pages/404.vue
  src/pages/DelegateMonitor.vue
  src/pages/Wallet/Transactions.vue
  src/styles/_buttons.css
  src/styles/_charts.css
  src/styles/_fonts.css
  src/styles/_general.css
  src/styles/_tables.css
  src/styles/_tabs.css
  src/styles/_tailwind-base.css
  src/styles/_theme.css
  src/styles/_tooltips.css
  src/styles/style.css
  tailwind.config.js
  tailwindconfig.js
  yarn.lock
Labels: Bounty: Tier 2, Complexity: Undetermined, Status: Contributor Approved, Type: Task
