Repository ArkEcosystem/explorer, pull requests merged in 2019-02, with the labels that each got.

#560 chore: setup code owners
  CODEOWNER
Labels: Complexity: Low, Status: Needs Review, Type: Task

#561 Chore: Update Ark Shield wallet with new address
  networks/mainnet.json
Labels: Complexity: Low, Status: Needs Review

#564 fix: table column sorting
  src/App.vue
  src/components/ChartWrapper.vue
  src/components/ContentHeader.vue
  src/components/Modal.vue
  src/components/block/Details.vue
  src/components/block/Identity.vue
  src/components/block/Transactions.vue
  src/components/header/Default.vue
  src/components/header/Main.vue
  src/components/header/menu/Desktop.vue
  src/components/home/LatestBlocks.vue
  src/components/home/LatestTransactions.vue
  src/components/links/Block.vue
  src/components/links/Transaction.vue
  src/components/links/Wallet.vue
  src/components/monitor/ActiveDelegates.vue
  src/components/monitor/Details.vue
  src/components/monitor/Forging.vue
  src/components/monitor/LastBlock.vue
  src/components/monitor/StandbyDelegates.vue
  src/components/tables/Blocks.vue
  src/components/tables/Transactions.vue
  src/components/tables/TransactionsDetail.vue
  src/components/tables/Wallets.vue
  src/components/tables/mobile/Blocks.vue
  src/components/tables/mobile/Transactions.vue
  src/components/tables/mobile/TransactionsDetail.vue
  src/components/tables/mobile/Wallets.vue
  src/components/utils/Loader.vue
  src/components/utils/NotFound.vue
  src/components/wallet/Details.vue
  src/main.js
  src/pages/Block.vue
  src/pages/Block/Transactions.vue
  src/pages/Blocks.vue
  src/pages/DelegateMonitor.vue
  src/pages/Home.vue
  src/pages/Statistics.vue
  src/pages/TopWallets.vue
  src/pages/Transaction.vue
  src/pages/Transactions.vue
  src/pages/Wallet.vue
  src/pages/Wallet/Blocks.vue
  src/pages/Wallet/Transactions.vue
  src/pages/Wallet/Voters.vue
  src/services/delegate.js
  test/e2e/specs/delegate-monitor.js
Labels: Complexity: High, Status: Contributor Approved, Status: Needs Review, Type: Bugfix

#567 fix: transaction timestamp and vote count
  src/components/monitor/ActiveDelegates.vue
  src/components/tables/mobile/TransactionsDetail.vue
  src/pages/Transaction.vue
Labels: Bounty: Tier 4, Complexity: Low, Status: Contributor Approved, Status: Needs Review, Type: Bugfix

#577 chore: add COSS wallet
  networks/mainnet.json
Labels: Bounty: Tier 5, Complexity: Low, Status: Member Approved, Type: Task

#571 fix: mobile blocks table and standby delegate approval tooltip
  src/components/monitor/StandbyDelegates.vue
  src/components/tables/mobile/Blocks.vue
  test/unit/jest.conf.js
  test/unit/jest.setup.js
  test/unit/specs/services/crypto-compare.spec.js
Labels: Bounty: Tier 4, Complexity: Low, Status: Member Approved, Status: Needs Review, Type: Bugfix

#576 fix: block and transaction confirmations
  src/components/block/Details.vue
  src/pages/Transaction.vue
  test/e2e/specs/transactions.js
  test/unit/specs/components/block/Details.spec.js
Labels: Complexity: Low, Status: Member Approved, Status: Needs Changes, Status: Needs Review, Type: Bugfix

#572 fix/refactor: pagination issues, voter count & voters
  src/components/block/Transactions.vue
  src/components/home/LatestTransactions.vue
  src/components/monitor/TotalForged.vue
  src/components/utils/Paginator.vue
  src/components/wallet/Transactions.vue
  src/components/wallet/Voters.vue
  src/mixins/index.js
  src/pages/Block/Transactions.vue
  src/pages/Blocks.vue
  src/pages/TopWallets.vue
  src/pages/Transactions.vue
  src/pages/Wallet/Blocks.vue
  src/pages/Wallet/Transactions.vue
  src/pages/Wallet/Voters.vue
  src/services/api.js
  src/services/block.js
  src/services/delegate.js
  src/services/transaction.js
  src/services/wallet.js
  test/unit/specs/components/utils/Paginator.spec.js
  test/unit/specs/services/block.spec.js
  test/unit/specs/services/delegate.spec.js
  test/unit/specs/services/transaction.spec.js
  test/unit/specs/services/wallet.spec.js
Labels: Complexity: Undetermined, Status: Member Approved, Status: Needs Review, Type: Refactor

#578 feat:add a tooltip to the transaction page that display the fee on fiat/crypto
  src/pages/Transaction.vue
Labels: Complexity: Low, Status: Needs Review, Type: Feature
