Repository ArkEcosystem/explorer, pull requests merged in 2019-04, with the labels that each got.

#608 fix: display second signature icon
  src/components/wallet/Details.vue
Labels: Complexity: Low, Status: Member Approved, Type: Bugfix

#609 fix: copy button on iOS
  src/components/utils/Clipboard.vue
Labels: Bounty: Tier 4, Complexity: Low, Status: Member Approved, Type: Bugfix

#611 chore: add Altilly Exchange Wallet
  networks/mainnet.json
Labels: Bounty: Tier 5, Complexity: Low, Status: Contributor Approved

#612 chore: sort known wallets alphabetically
  networks/mainnet.json
Labels: Bounty: Tier 6, Complexity: Low, Status: Contributor Approved

#592 feat: remove productivity
  __tests__/e2e/specs/wallet.js
  __tests__/unit/specs/components/wallet/Delegate.spec.js
  __tests__/unit/specs/services/forging.spec.js
  src/components/monitor/ActiveDelegates.vue
  src/components/monitor/StandbyDelegates.vue
  src/components/wallet/Delegate.vue
  src/i18n/en.json
  src/i18n/fr.json
  src/i18n/it.json
  src/i18n/nl.json
  src/i18n/pl.json
  src/i18n/pt.json
Labels: Bounty: Tier 3, Complexity: Low, Status: Blocked, Status: Contributor Approved, Type: Feature

#614 test: fix node service network settings
  __tests__/unit/specs/services/node.spec.js
Labels: Complexity: Low, Test: Unit
