Repository ArkEcosystem/explorer, pull requests merged in 2019-05, with the labels that each got.

#619 chore: add itsanametoo to codeowners
  CODEOWNERS
Labels: Complexity: Low, Status: Contributor Approved, Type: Task

#618 fix: vendorfield overflow
  __tests__/e2e/specs/block-detail.js
  __tests__/unit/specs/components/block/Details.spec.js
  __tests__/unit/specs/components/transaction/Details.spec.js
  src/components/block/Details.vue
  src/components/tables/mobile/Blocks.vue
  src/components/tables/mobile/Transactions.vue
  src/components/tables/mobile/TransactionsDetail.vue
  src/components/tables/mobile/Wallets.vue
  src/components/transaction/Details.vue
  src/styles/tooltips.css
Labels: Bounty: Tier 4, Complexity: Medium, Status: Contributor Approved, Type: Bugfix

#580 feat: add tooltips to transaction tables with the value, in currency, of amount and fee
  package.json
  src/components/ArkMeter.vue
  src/components/SelectionType.vue
  src/components/header/HeaderSearch.vue
  src/components/header/toggles/ToggleCurrency.vue
  src/components/monitor/ActiveDelegates.vue
  src/components/monitor/StandbyDelegates.vue
  src/components/tables/Blocks.vue
  src/components/tables/Transactions.vue
  src/components/tables/TransactionsDetail.vue
  src/components/tables/Wallets.vue
  src/components/utils/Clipboard.vue
  src/components/utils/TransactionAmount.vue
  src/components/wallet/Details.vue
  src/pages/Block.vue
  src/pages/Home.vue
  src/pages/Transaction.vue
  src/pages/Wallet.vue
  src/services/crypto-compare.js
  yarn.lock
Labels: Type: Feature

#621 chore: update links in footer
  src/components/AppFooter.vue
Labels: Bounty: Tier 5, Complexity: Low, Status: Contributor Approved, Type: Task

#622 chore: update code owners
  CODEOWNERS
Labels: Bounty: Tier 5, Complexity: Low, Status: Contributor Approved, Type: Task

#623 fix: transaction and fee tooltip placement
  src/components/tables/Transactions.vue
  src/components/tables/TransactionsDetail.vue
  src/components/utils/TransactionAmount.vue
  src/components/wallet/Details.vue
Labels: Bounty: Tier 4, Complexity: Low, Status: Contributor Approved, Type: Bugfix

#625 fix: word-break in transaction table
  src/components/tables/Transactions.vue
  src/styles/style.css
Labels: Bounty: Tier 5, Complexity: Low, Status: Contributor Approved, Type: Bugfix

#629 chore: use organization-wide GitHub Configuration
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Complexity: Medium, Type: Task

#630 ci: add node.js 12 to CircleCI
  .circleci/config.yml
Labels: Complexity: Low

#626 fix: use break-word for smartbridge instead of break-all
  src/components/tables/Transactions.vue
  src/styles/style.css
Labels: Complexity: Low, Type: Bugfix

#632 deps: upgrade axios
  package.json
  yarn.lock
Labels: Bounty: Tier 5, Complexity: Low, Status: Contributor Approved
