Repository ArkEcosystem/explorer, pull requests merged in 2019-08, with the labels that each got.

#694 feat: extended pagination
  .codacy.yml
  __tests__/unit/__mocks__/matchMediaMock.js
  __tests__/unit/jest.conf.js
  __tests__/unit/specs/components/utils/Pagination.spec.js
  __tests__/unit/specs/components/utils/Paginator.spec.js
  __tests__/unit/specs/services/block.spec.js
  __tests__/unit/specs/services/delegate.spec.js
  __tests__/unit/specs/services/transaction.spec.js
  src/components/index.js
  src/components/utils/Paginator.vue
  src/components/utils/pagination/Pagination.vue
  src/components/utils/pagination/PaginationNavigationButton.vue
  src/components/utils/pagination/PaginationPageInput.vue
  src/components/utils/pagination/PaginationSearchButton.vue
  src/components/utils/pagination/index.js
  src/i18n/locales/en-GB.js
  src/i18n/locales/fr-FR.js
  src/i18n/locales/it-IT.js
  src/i18n/locales/nl-NL.js
  src/i18n/locales/pl-PL.js
  src/i18n/locales/pt-BR.js
  src/pages/Block/Transactions.vue
  src/pages/Blocks.vue
  src/pages/TopWallets.vue
  src/pages/Transactions.vue
  src/pages/Wallet/Blocks.vue
  src/pages/Wallet/Transactions.vue
  src/pages/Wallet/Voters.vue
  src/styles/_buttons.css
  src/styles/_theme.css
  tailwind.config.js
Labels: Bounty: Tier 2, Complexity: High, Status: Contributor Approved, Status: In Progress, Type: Feature

#697 chore: update footer links and icons
  __tests__/unit/specs/components/wallet/Delegate.spec.js
  networks/devnet.json
  networks/mainnet.json
  networks/testnet.json
  src/components/AppFooter.vue
  src/components/block/Details.vue
  src/components/links/LinkWallet.vue
  src/components/tables/Wallets.vue
  src/components/tables/mobile/Wallets.vue
  src/components/transaction/Details.vue
  src/i18n/locales/en-GB.js
  src/i18n/locales/fr-FR.js
  src/i18n/locales/it-IT.js
  src/i18n/locales/nl-NL.js
  src/i18n/locales/pl-PL.js
  src/i18n/locales/pt-BR.js
Labels: Bounty: Tier 4, Complexity: Medium, Status: Contributor Approved, Type: Task

#698 fix: table columns
  src/components/header/HeaderDefault.vue
  src/components/header/HeaderSearch.vue
  src/components/tables/Transactions.vue
Labels: Complexity: Low, Type: Bugfix

#699 fix: break long delegate names
  src/components/tables/Transactions.vue
Labels: Complexity: Low, Type: Bugfix

#700 fix: pass sort params to tables
  src/components/block/Transactions.vue
  src/components/tables/Blocks.vue
  src/components/wallet/Transactions.vue
  src/pages/Block/Transactions.vue
  src/pages/Blocks.vue
  src/pages/TopWallets.vue
  src/pages/Transactions.vue
  src/pages/Wallet/Blocks.vue
  src/pages/Wallet/Transactions.vue
  src/pages/Wallet/Voters.vue
Labels: Bounty: Tier 4, Complexity: Medium, Status: Contributor Approved, Type: Bugfix

#704 fix: add shadows to dark-theme and fix dark style of dropdowns
  src/components/ChartWrapper.vue
  src/components/Modal.vue
  src/components/SelectionType.vue
  src/components/wallet/Transactions.vue
  src/pages/Block/Transactions.vue
  src/pages/TopWallets.vue
  src/pages/Wallet/Blocks.vue
  src/pages/Wallet/Transactions.vue
  src/pages/Wallet/Voters.vue
  src/styles/_theme.css
Labels: Bounty: Tier 4, Complexity: Medium, Status: Contributor Approved, Type: Bugfix

#709 feat: deploy script github page
  package.json
  scripts/deploy.sh
Labels: Complexity: Low, Type: Feature

#710 chore: add minds link and update Ark to ARK in footer
  src/components/AppFooter.vue
Labels: Complexity: Low, Type: Task

#712 feat: move gh-pages to this repo and adjust webpack config
  build/webpack.prod.conf.js
  config/index.js
  scripts/deploy.sh
  src/router/index.js
Labels: Complexity: Low, Type: Feature

#714 feat: show progress bar on route change
  package.json
  src/main.js
  src/styles/_progress-bar.css
  src/styles/style.css
  yarn.lock
Labels: Bounty: Tier 4, Complexity: Medium, Status: Contributor Approved, Type: Feature
