Repository ArkEcosystem/explorer, pull requests merged in 2019-12, with the labels that each got.

#784 feat: add blur to app when modal is open
  package.json
  src/App.vue
  src/components/DisclaimerModal.vue
  src/components/Modal.vue
  src/main.ts
  yarn.lock
Labels: Bounty: Tier 4, Complexity: Medium, Status: Member Approved, Type: Feature

#785 fix: various & i18n of magistrate asset properties
  src/components/transaction/Details.vue
  src/locales/en-GB.ts
Labels: Bounty: Tier 5, Complexity: Low, Status: Member Approved, Type: Bugfix

#781 fix: build sum over payments to same address
  __tests__/e2e/specs/transaction-details_spec.js
  __tests__/unit/jest.setup.js
  __tests__/unit/specs/components/links/LinkWallet.spec.ts
  __tests__/unit/specs/components/transaction/Details.spec.ts
  __tests__/unit/specs/components/utils/TransactionAmount.spec.ts
  __tests__/unit/specs/mixins/misc.spec.ts
  src/assets/images/svg/information.svg
  src/components/links/LinkWallet.vue
  src/components/tables/LockTransactions.vue
  src/components/tables/Transactions.vue
  src/components/tables/mobile/LockTransactions.vue
  src/components/tables/mobile/Transactions.vue
  src/components/tables/mobile/TransactionsDetail.vue
  src/components/transaction/Details.vue
  src/components/utils/TransactionAmount.vue
  src/components/wallet/Transactions.vue
  src/interfaces.ts
  src/locales/en-GB.ts
  src/mixins/index.ts
  src/mixins/misc.ts
  src/mixins/transaction-types.ts
  src/pages/Transaction.vue
  src/pages/Wallet/Transactions.vue
  src/store/modules/ui.ts
  src/store/mutation-types.ts
Labels: Bounty: Tier 2, Complexity: Low, Status: Member Approved, Status: Needs Review, Type: Bugfix

#789 feat: add check for businesses / bridgechains being enabled
  __tests__/e2e/specs/homepage_spec.js
  __tests__/unit/specs/services/business.spec.ts
  __tests__/unit/specs/store/modules/network.spec.ts
  src/App.vue
  src/components/header/menu/Desktop.vue
  src/components/header/menu/Mobile.vue
  src/interfaces.ts
  src/services/business.ts
  src/services/magistrate.ts
  src/store/modules/network.ts
  src/store/mutation-types.ts
Labels: Complexity: Medium, Status: Needs Review, Type: Feature

#791 fix: check that sender is requested address
  src/components/utils/TransactionAmount.vue
Labels: Bounty: Tier 5, Complexity: Low, Status: Member Approved, Type: Bugfix

#793 chore: collect coverage from vue files
  jest.config.js
Labels: Complexity: Low, Status: Member Approved, Type: Task

#792 feat: delegate pagination
  __tests__/e2e/specs/delegate-monitor_spec.js
  __tests__/e2e/specs/delegates_spec.js
  __tests__/unit/specs/services/delegate.spec.ts
  src/App.vue
  src/components/index.ts
  src/components/tables/DelegateMonitor.vue
  src/components/tables/Delegates.vue
  src/components/tables/mobile/Delegates.vue
  src/locales/en-GB.ts
  src/pages/DelegateMonitor.vue
  src/pages/Delegates.vue
  src/router/index.ts
  src/services/delegate.ts
  src/store/modules/ui.ts
Labels: Complexity: High, Status: Needs Review, Type: Feature

#796 feat: wrap locked balances
  src/components/wallet/Details.vue
Labels: Complexity: Low, Type: Feature

#797 feat: add changelog
  CHANGELOG.md
Labels: Complexity: Low, Type: Feature

#798 chore: update dependencies
  babel.config.js
  package.json
  yarn.lock
Labels: Complexity: Undetermined, Type: Task
