Repository ArkEcosystem/explorer, pull requests merged in 2019-03, with the labels that each got.

#582 fix: chart tooltip font and margin
  src/components/ChartWrapper.vue
Labels: Bounty: Tier 5, Complexity: Low, Status: Member Approved, Status: Needs Review, Type: Bugfix

#583 fix: fetch delegates only when network height is available & refactoring
  package.json
  src/components/monitor/ActiveDelegates.vue
  src/components/monitor/Forging.vue
  src/components/monitor/LastBlock.vue
  src/components/monitor/StandbyDelegates.vue
  src/components/wallet/Details.vue
  src/mixins/index.js
  src/pages/DelegateMonitor.vue
  src/pages/Transactions.vue
  src/pages/Wallet/Blocks.vue
  src/services/forging.js
  src/services/transaction.js
  test/unit/specs/components/SelectionType.spec.js
  yarn.lock
Labels: Bounty: Tier 4, Complexity: Medium, Status: Member Approved, Type: Bugfix

#586 chore: update nightwatch to major version
  .gitignore
  package.json
  test/e2e/nightwatch.conf.js
  yarn.lock
Labels: Complexity: High, Type: Task

#584 refactor: fetch from store instead of api
  src/components/wallet/Delegate.vue
  src/components/wallet/Details.vue
  src/store/modules/delegates.js
  test/unit/specs/components/wallet/Delegate.spec.js
  test/unit/specs/store/modules/delegates.spec.js
Labels: Complexity: Medium, Status: Member Approved, Status: Needs Changes, Type: Refactor

#590 feat: add Italian language
  src/assets/images/flags/it-it.svg
  src/i18n/index.js
  src/i18n/it.json
  test/unit/specs/i18n/i18n.spec.js
Labels: Bounty: Tier 3, Complexity: Medium, Type: Feature

#594 chore: update ACF address
  networks/mainnet.json
Labels: Complexity: Low, Status: Member Approved, Type: Task

#597 fix: adjustments for new block id format
  src/components/block/Identity.vue
  src/components/links/Block.vue
  src/components/monitor/LastBlock.vue
  src/services/block.js
Labels: Complexity: Low, Status: Contributor Approved, Type: Bugfix

#598 feat: show the name of known addresses on the wallet page
  src/components/wallet/Details.vue
Labels: Complexity: Low, Type: Feature

#605 fix: truncation of block id
  src/components/block/Identity.vue
Labels: Complexity: Low, Status: Member Approved, Type: Bugfix

#601 feat: show vote count and percentage
  __tests__/e2e/specs/wallet.js
  __tests__/unit/specs/components/wallet/Delegate.spec.js
  src/components/monitor/ActiveDelegates.vue
  src/components/monitor/StandbyDelegates.vue
  src/components/tables/mobile/Transactions.vue
  src/components/tables/mobile/TransactionsDetail.vue
  src/components/wallet/Delegate.vue
  src/i18n/en.json
  src/i18n/fr.json
  src/i18n/it.json
  src/i18n/nl.json
  src/i18n/pl.json
  src/i18n/pt.json
  src/styles/tooltips.css
Labels: Bounty: Tier 3, Complexity: Low, Status: Member Approved, Type: Feature
