Repository ArkEcosystem/explorer, pull requests merged in 2019-11, with the labels that each got.

#773 fix: use typeGroups in addition to type
  src/components/SelectionType.vue
  src/components/links/LinkWallet.vue
  src/components/tables/mobile/TransactionsDetail.vue
  src/components/transaction/Details.vue
  src/components/utils/TransactionAmount.vue
  src/components/wallet/Transactions.vue
  src/enums.ts
  src/pages/Transaction.vue
Labels: Complexity: Medium, Type: Bugfix

#774 fix: add timelock status to detail screen and update multipayment table
  __tests__/e2e/specs/wallet_spec.js
  src/components/SelectionType.vue
  src/components/links/LinkWallet.vue
  src/components/tables/mobile/Transactions.vue
  src/components/tables/mobile/TransactionsDetail.vue
  src/components/transaction/Details.vue
  src/components/utils/TransactionAmount.vue
  src/components/utils/pagination/Pagination.vue
  src/components/wallet/Details.vue
  src/locales/en-GB.ts
  src/pages/Transaction.vue
Labels: Complexity: Medium, Type: Bugfix

#772 feat: add tab for resigned delegates
  __tests__/unit/jest.setup.js
  __tests__/unit/specs/services/delegate.spec.ts
  package.json
  src/components/tables/Delegates.vue
  src/locales/en-GB.ts
  src/pages/DelegateMonitor.vue
  src/services/delegate.ts
  yarn.lock
Labels: Bounty: Tier 4, Complexity: Medium, Status: Member Approved, Type: Feature

#777 [WIP] feat: bignumber arithmetic
  __tests__/unit/specs/mixins/currency.spec.ts
  package.json
  src/components/tables/Wallets.vue
  src/components/transaction/Details.vue
  src/interfaces.ts
  src/mixins/currency.ts
  src/mixins/misc.ts
  src/utils/BigNumber.ts
  src/utils/index.ts
  yarn.lock
Labels: Complexity: Medium, Status: Needs Testcase, Type: Feature

#778 feat: show registered businesses
  __tests__/e2e/specs/bridgechains_spec.js
  __tests__/e2e/specs/businesses_spec.js
  __tests__/e2e/specs/homepage_spec.js
  __tests__/unit/specs/services/bridgechain.spec.ts
  __tests__/unit/specs/services/business.spec.ts
  __tests__/unit/specs/store/modules/ui.spec.ts
  src/components/DisclaimerModal.vue
  src/components/Modal.vue
  src/components/header/menu/Desktop.vue
  src/components/header/menu/Mobile.vue
  src/components/index.ts
  src/components/tables/Bridgechains.vue
  src/components/tables/Businesses.vue
  src/components/tables/mobile/Bridgechains.vue
  src/components/tables/mobile/Businesses.vue
  src/interfaces.ts
  src/locales/en-GB.ts
  src/pages/Bridgechains.vue
  src/pages/Businesses.vue
  src/router/index.ts
  src/services/bridgechain.ts
  src/services/business.ts
  src/services/index.ts
  src/store/modules/ui.ts
  src/store/mutation-types.ts
Labels: Complexity: High, Status: Needs Review, Type: Feature

#782 ci: switch to codecov-action
  .github/workflows/test.yml
  package.json
  yarn.lock
Labels: Status: Member Approved
