Repository ArkEcosystem/explorer, pull requests merged in 2019-01, with the labels that each got.

#513 feat: Allow transactions filtering by types
  src/i18n/en.json
  src/i18n/fr.json
  src/i18n/nl.json
  src/i18n/pl.json
  src/i18n/pt.json
  src/pages/Transactions.vue
  src/services/transaction.js
  test/e2e/specs/transactions.js
  test/unit/specs/services/transaction.spec.js
Labels: :moneybag: Bounty T2

#516 feat: Reset the headerType to null (default) when clicking outside search bar
  src/components/header/Main.vue
  src/directives/click-outside.js
  src/directives/index.js
  src/main.js
Labels: :moneybag: Bounty T4

#534 fix: responsive wallet link
  src/components/links/Wallet.vue
  src/pages/Transaction.vue
  test/unit/specs/components/links/Wallet.spec.js
Labels: :moneybag: Bounty T5

#538 refactor: display default token while waiting for network token
  .circleci/config.yml
  .nvmrc
  networks/devnet.json
  networks/mainnet.json
  networks/testnet.json
  package.json
  src/mixins/index.js
  test/unit/specs/mixins/various-mixins.spec.js
Labels: Bounty: Tier 5

#539 fix: cast type to integer so it properly filters "all"
  src/pages/Transactions.vue
Labels: Bounty: Tier 5, Status: Needs Review

#535 feat: Implemented transactions filter on the homepage
  src/components/home/LatestTransactions.vue
  src/i18n/en.json
  src/i18n/fr.json
  src/i18n/nl.json
  src/i18n/pl.json
  src/i18n/pt.json
  src/pages/Home.vue
  test/e2e/specs/homepage.js
  yarn.lock
Labels: Bounty: Tier 3

#544 misc: correct placement of dropdown
  src/components/SelectionType.vue
  src/pages/Home.vue
  src/pages/Transactions.vue
Labels: Bounty: Tier 4

#551 feat: chart reload button on error
  src/components/ChartWrapper.vue
  src/i18n/en.json
  src/styles/style.css
Labels: Bounty: Tier 3, Type: Feature

#554 chore: update OKEx wallet
  networks/mainnet.json
Labels: Bounty: Tier 6

#556 refactor: disabled tab buttons if count is zero & fixes
  src/components/wallet/Transactions.vue
  src/i18n/en.json
  src/i18n/fr.json
  src/i18n/nl.json
  src/i18n/pl.json
  src/i18n/pt.json
  src/pages/Wallet/Transactions.vue
  test/e2e/specs/delegate.js
  test/e2e/specs/wallet.js
Labels: Bounty: Tier 3
