Repository ArkEcosystem/explorer, pull requests merged in 2020-04, with the labels that each got.

#905 fix: call cypress contains method on yielded dom
  __tests__/e2e/specs/advanced-search-spec.js
Labels: Bounty: Tier 5, Complexity: Low, Status: Member Approved, Type: Bugfix

#908 fix: update explorer vendorfield sanitizer
  __tests__/unit/specs/components/transaction/Details.spec.ts
  __tests__/unit/specs/mixins/strings.spec.ts
  src/components/links/LinkTransaction.vue
  src/components/tables/LockTransactions.vue
  src/components/tables/Transactions.vue
  src/components/tables/mobile/LockTransactions.vue
  src/components/tables/mobile/Transactions.vue
  src/components/tables/mobile/TransactionsDetail.vue
  src/components/transaction/Details.vue
  src/mixins/strings.ts
  src/pages/AdvancedSearch.vue
  src/services/transaction.ts
  src/utils/Sanitizer.ts
Labels: Complexity: Medium, Type: Bugfix

#910 feat: show resigned label in magistrate tables
  src/components/tables/Bridgechains.vue
  src/components/tables/Businesses.vue
  src/components/tables/mobile/Bridgechains.vue
  src/components/tables/mobile/Businesses.vue
  src/locales/en-GB.ts
Labels: Bounty: Tier 4, Complexity: Low, Status: Member Approved, Type: Feature
