Repository ArkEcosystem/explorer, pull requests merged in 2020-03, with the labels that each got.

#889 feat: sanitize vendorfield
  __tests__/unit/specs/mixins/strings.spec.ts
  package.json
  src/components/links/LinkTransaction.vue
  src/components/tables/LockTransactions.vue
  src/components/tables/Transactions.vue
  src/components/tables/mobile/LockTransactions.vue
  src/components/tables/mobile/Transactions.vue
  src/components/tables/mobile/TransactionsDetail.vue
  src/components/transaction/Details.vue
  src/mixins/strings.ts
  src/utils/Sanitizer.ts
  yarn.lock
Labels: Complexity: High, Type: Feature

#891 fix: update url whitelist
  src/utils/Sanitizer.ts
Labels: Complexity: Low, Type: Bugfix

#887 feat: add prices to rows of multipayments
  src/components/tables/MultiPaymentTransactions.vue
  src/pages/Transaction.vue
Labels: Bounty: Tier 4, Complexity: Low, Status: Member Approved, Type: Feature

#888 feat: fetch known wallets from repository
  __tests__/e2e/specs/homepage_spec.js
  networks/devnet.json
  networks/mainnet.json
  src/App.vue
  src/components/transaction/Details.vue
  src/config/index.ts
  src/locales/en-GB.ts
Labels: Bounty: Tier 4, Complexity: Low, Status: Member Approved, Type: Task

#842 feat: generate uri from qr modal
  __tests__/unit/specs/components/modals/QrModal.spec.ts
  src/components/modals/QrModal.vue
  src/components/modals/index.ts
  src/components/wallet/Details.vue
  src/constants.ts
  src/locales/en-GB.ts
Labels: Bounty: Tier 3, Complexity: Medium, Status: Member Approved, Status: Needs Review, Type: Feature
