Repository ArkEcosystem/explorer, pull requests merged in 2020-06, with the labels that each got.

#934 feat: migrate animate.css to v4
  .yarn/cache/animate.css-npm-3.7.2-caa8db9d0e-3.zip
  .yarn/cache/animate.css-npm-4.1.0-2c223a0f85-3.zip
  .yarn/install-state.gz
  __tests__/e2e/specs/block-details_spec.js
  __tests__/e2e/specs/transaction-details_spec.js
  __tests__/e2e/specs/wallet_spec.js
  package.json
  src/assets/css/style.css
  src/components/utils/Clipboard.vue
  yarn.lock
Labels: Complexity: Low, Type: Feature

#932 feat: add censor options to the settings menu
  .yarn/build-state.yml
  .yarn/install-state.gz
  __tests__/unit/specs/components/modals/SettingsModal.spec.ts
  __tests__/unit/specs/store/modules/ui.spec.ts
  src/App.vue
  src/components/Modal.vue
  src/components/modals/SettingsModal.vue
  src/components/tables/LockTransactions.vue
  src/components/tables/Transactions.vue
  src/components/tables/mobile/LockTransactions.vue
  src/components/tables/mobile/Transactions.vue
  src/interfaces.ts
  src/locales/en-GB.ts
  src/services/transaction.ts
  src/store/modules/ui.ts
  src/store/mutation-types.ts
Labels: Complexity: Low, Type: Feature

#941 fix: properly convert uint8arrays to strings
  __tests__/unit/specs/mixins/crypto.spec.ts
  src/mixins/crypto.ts
Labels: Complexity: Low, Type: Bugfix

#942 refactor: replace `ripemd160` with `hash-wasm`
  .github/workflows/format.yml
  .yarn/cache/hash-wasm-npm-3.3.0-61cbc774aa-3.zip
  .yarn/install-state.gz
  __tests__/unit/specs/components/transaction/Details.spec.ts
  __tests__/unit/specs/mixins/crypto.spec.ts
  package.json
  src/components/links/LinkWallet.vue
  src/mixins/crypto.ts
  yarn.lock
Labels: Complexity: Low, Type: Refactor

#933 fix: add transaction type to input select value
  src/components/search/TransactionSearchForm.vue
Labels: Complexity: Low, Type: Bugfix
