Repository ArkEcosystem/explorer, pull requests merged in 2020-02, with the labels that each got.

#849 refactor: check if token is listed on crypto compare before fetching prices
  __tests__/unit/specs/store/modules/network.spec.ts
  src/App.vue
  src/components/ContentHeader.vue
  src/components/SvgIcon.vue
  src/components/header/HeaderDefault.vue
  src/components/tables/Blocks.vue
  src/components/tables/LockTransactions.vue
  src/components/tables/MultiPaymentTransactions.vue
  src/components/tables/Transactions.vue
  src/components/utils/TransactionAmount.vue
  src/components/wallet/Details.vue
  src/interfaces.ts
  src/mixins/currency.ts
  src/services/crypto-compare.ts
  src/store/modules/network.ts
  src/store/mutation-types.ts
Labels: Bounty: Tier 3, Complexity: Medium, Status: Member Approved, Status: Needs Review, Type: Refactor

#851 refactor: fetch all active delegates if count bigger than api limit
  .github/workflows/test.yml
  __tests__/e2e/specs/delegate-monitor_spec.js
  __tests__/e2e/specs/homepage_spec.js
  src/components/home/LatestTransactions.vue
  src/components/tables/MultiPaymentTransactions.vue
  src/components/tables/Wallets.vue
  src/components/tables/mobile/Wallets.vue
  src/constants.ts
  src/pages/Transaction.vue
  src/services/block.ts
  src/services/bridgechain.ts
  src/services/business.ts
  src/services/delegate.ts
  src/services/transaction.ts
  src/services/wallet.ts
Labels: Bounty: Tier 4, Complexity: Medium, Status: Member Approved, Status: Needs Review, Type: Refactor

#856 fix: display details for legacy multi signature transactions
  __tests__/unit/specs/components/transaction/Details.spec.ts
  src/components/transaction/Details.vue
  src/locales/en-GB.ts
Labels: Bounty: Tier 4, Complexity: Low, Status: Member Approved, Status: Needs Review, Type: Bugfix

#800 feat: more tests
  __tests__/unit/specs/mixins/misc.spec.ts
  __tests__/unit/specs/mixins/transaction-types.spec.ts
  __tests__/unit/specs/store/modules/delegates.spec.ts
  __tests__/unit/specs/store/modules/network.spec.ts
  __tests__/unit/specs/store/modules/ui.spec.ts
Labels: Complexity: Medium, Status: Needs Review, Type: Feature

#857 fix: properly remove search params when input field gets cleared
  src/pages/AdvancedSearch.vue
Labels: Complexity: Low, Type: Bugfix

#858 fix: various UI tweaks
  src/assets/css/_theme.css
  src/components/links/LinkWallet.vue
  src/components/search/input/InputField.vue
  src/components/tables/Blocks.vue
  src/components/tables/mobile/Blocks.vue
  src/locales/en-GB.ts
  src/pages/Wallet/Blocks.vue
  tailwind.config.js
Labels: Complexity: Low, Type: Bugfix

#859 fix: set hideGeneratedBy prop on correct component and improve format workflow
  .github/workflows/format.yml
  src/pages/Wallet/Blocks.vue
Labels: Complexity: Low, Type: Bugfix

#863 chore: remove lint-staged in favour of github actions
  package.json
  yarn.lock
Labels: Complexity: Medium, Type: Task

#864 chore: add node_modules caching
  .github/workflows/deploy.yml
  .github/workflows/format.yml
  .github/workflows/test.yml
Labels: Complexity: Medium, Type: Task

#860 feat: show timelock status as expired for expired locks
  __tests__/unit/specs/services/lock.spec.ts
  src/components/transaction/Details.vue
  src/interfaces.ts
  src/locales/en-GB.ts
  src/services/index.ts
  src/services/lock.ts
Labels: Bounty: Tier 4, Complexity: Low, Status: Member Approved, Type: Feature

#862 fix: sort by rank order on delegates table
  src/components/tables/Delegates.vue
Labels: Bounty: Tier 5, Complexity: Low, Status: Member Approved, Type: Bugfix

#865 chore: changelog
  CHANGELOG.md
Labels: Complexity: Low, Type: Task

#868 chore: changelog date
  CHANGELOG.md
Labels: Complexity: Low, Type: Task

#870 fix: failing tests
  __tests__/e2e/specs/bridgechains_spec.js
  __tests__/e2e/specs/businesses_spec.js
  __tests__/e2e/specs/transaction-details_spec.js
  __tests__/unit/specs/services/delegate.spec.ts
  __tests__/unit/specs/services/node.spec.ts
  __tests__/unit/specs/services/search.spec.ts
  __tests__/unit/specs/services/transaction.spec.ts
Labels: Complexity: Medium, Type: Bugfix

#871 fix: set proper testnet name for localization
  src/components/ContentHeader.vue
  src/locales/en-GB.ts
Labels: Complexity: Low, Type: Bugfix

#872 chore: remove steemit link
  src/config/index.ts
Labels: Complexity: Low, Type: Task

#874 chore: reword multipayment text
  src/locales/en-GB.ts
Labels: Complexity: Low, Type: Task

#875 fix: footer separator, bridgechain asset text and duplicate search id
  src/components/AppFooter.vue
  src/components/header/HeaderDefault.vue
  src/locales/en-GB.ts
Labels: Complexity: Low, Type: Bugfix

#879 chore: swap menu order of bridgechains and businesses
  src/components/header/AppHeader.vue
Labels: Complexity: Low, Type: Task

#880 chore: whitelist status-became-active class
  postcss.config.js
Labels: Complexity: Low, Type: Task

#882 fix: use voted delegate as computed property
  src/components/links/LinkWallet.vue
Labels: Bounty: Tier 4, Complexity: Low, Status: Member Approved, Type: Bugfix

#883 fix: remove border on last transaction asset property
  src/components/transaction/Details.vue
Labels: Bounty: Tier 5, Complexity: Low, Status: Member Approved, Type: Bugfix
