Repository ArkEcosystem/explorer, pull requests merged in 2020-01, with the labels that each got.

#808 test: fix failing delegate test
  __tests__/unit/specs/services/delegate.spec.ts
Labels: Complexity: Low, Test: Unit

#806 chore(chart): less labels on X axes and position Y axes on right
  CHANGELOG.md
  __tests__/e2e/specs/bridgechains_spec.js
  __tests__/e2e/specs/businesses_spec.js
  __tests__/e2e/specs/delegate-monitor_spec.js
  __tests__/e2e/specs/delegates_spec.js
  __tests__/unit/specs/services/delegate.spec.ts
  src/App.vue
  src/components/ChartWrapper.vue
  src/components/DisclaimerModal.vue
  src/components/Modal.vue
  src/components/header/menu/Desktop.vue
  src/components/header/menu/Mobile.vue
  src/components/header/toggles/ToggleTheme.vue
  src/components/home/LatestBlocks.vue
  src/components/home/LatestTransactions.vue
  src/components/links/LinkWallet.vue
  src/components/monitor/header/DelegateCount.vue
  src/components/monitor/header/LastBlock.vue
  src/components/monitor/header/TotalForged.vue
  src/components/tables/Bridgechains.vue
  src/components/tables/Businesses.vue
  src/components/tables/DelegateMonitor.vue
  src/components/tables/Delegates.vue
  src/components/tables/Wallets.vue
  src/components/tables/mobile/Bridgechains.vue
  src/components/tables/mobile/Businesses.vue
  src/components/tables/mobile/Delegates.vue
  src/components/transaction/Details.vue
  src/components/utils/TransactionAmount.vue
  src/components/wallet/Details.vue
  src/main.ts
  src/pages/Block.vue
  src/pages/Businesses.vue
  src/pages/DelegateMonitor.vue
  src/pages/Delegates.vue
  src/pages/Transaction.vue
  src/utils/BigNumber.ts
Labels: Bounty: Tier 4, Complexity: Low, Status: Member Approved, Type: Task

#804 feat: advanced search
  __tests__/e2e/specs/advanced-search-spec.js
  __tests__/unit/specs/services/block.spec.ts
  __tests__/unit/specs/services/delegate.spec.ts
  __tests__/unit/specs/services/transaction.spec.ts
  __tests__/unit/specs/services/wallet.spec.ts
  __tests__/unit/specs/store/modules/delegates.spec.ts
  __tests__/unit/specs/utils.spec.ts
  src/components/SelectionType.vue
  src/components/header/menu/Desktop.vue
  src/components/header/menu/Mobile.vue
  src/components/index.ts
  src/components/search/BlockSearchForm.vue
  src/components/search/GenericSearchForm.vue
  src/components/search/TransactionSearchForm.vue
  src/components/search/WalletSearchForm.vue
  src/components/search/index.ts
  src/components/search/input/InputDate.vue
  src/components/search/input/InputField.vue
  src/components/search/input/InputNumber.vue
  src/components/search/input/InputSelect.vue
  src/components/search/input/InputText.vue
  src/components/search/input/index.ts
  src/components/tables/WalletsSearch.vue
  src/components/tables/mobile/WalletsSearch.vue
  src/constants.ts
  src/interfaces.ts
  src/locales/en-GB.ts
  src/pages/AdvancedSearch.vue
  src/router/index.ts
  src/services/block.ts
  src/services/delegate.ts
  src/services/transaction.ts
  src/services/wallet.ts
  src/store/modules/delegates.ts
  src/store/modules/ui.ts
  src/store/mutation-types.ts
  src/utils/index.ts
  src/utils/input-processor.ts
  tailwind.config.js
Labels: Complexity: Undetermined, Status: Member Approved, Type: Feature

#783 feat: use Inter as font
  src/assets/css/_fonts.css
  src/assets/css/_general.css
  src/assets/css/_tables.css
  src/assets/fonts/Inter-Bold.otf
  src/assets/fonts/Inter-BoldItalic.otf
  src/assets/fonts/Inter-Italic.otf
  src/assets/fonts/Inter-Regular.otf
  src/assets/fonts/Inter-SemiBold.otf
  src/assets/fonts/Inter-SemiBoldItalic.otf
  src/assets/fonts/Proxima_Nova_Black.otf
  src/assets/fonts/Proxima_Nova_Black_Italic.otf
  src/assets/fonts/Proxima_Nova_Bold.otf
  src/assets/fonts/Proxima_Nova_Bold_Italic.otf
  src/assets/fonts/Proxima_Nova_Condensed_Black.otf
  src/assets/fonts/Proxima_Nova_Condensed_Black_Italic.otf
  src/assets/fonts/Proxima_Nova_Condensed_Bold.otf
  src/assets/fonts/Proxima_Nova_Condensed_Bold_Italic.otf
  src/assets/fonts/Proxima_Nova_Condensed_Extrabold.otf
  src/assets/fonts/Proxima_Nova_Condensed_Extrabold_Italic.otf
  src/assets/fonts/Proxima_Nova_Condensed_Light.otf
  src/assets/fonts/Proxima_Nova_Condensed_Light_Italic.otf
  src/assets/fonts/Proxima_Nova_Condensed_Regular.otf
  src/assets/fonts/Proxima_Nova_Condensed_Regular_Italic.otf
  src/assets/fonts/Proxima_Nova_Condensed_Semibold.otf
  src/assets/fonts/Proxima_Nova_Condensed_Semibold_Italic.otf
  src/assets/fonts/Proxima_Nova_Condensed_Thin.otf
  src/assets/fonts/Proxima_Nova_Condensed_Thin_Italic.otf
  src/assets/fonts/Proxima_Nova_Extra_Condensed_Black.otf
  src/assets/fonts/Proxima_Nova_Extra_Condensed_Black_Italic.otf
  src/assets/fonts/Proxima_Nova_Extra_Condensed_Bold.otf
  src/assets/fonts/Proxima_Nova_Extra_Condensed_Bold_Italic.otf
  src/assets/fonts/Proxima_Nova_Extra_Condensed_Extrabold.otf
  src/assets/fonts/Proxima_Nova_Extra_Condensed_Extrabold_Italic.otf
  src/assets/fonts/Proxima_Nova_Extra_Condensed_Light.otf
  src/assets/fonts/Proxima_Nova_Extra_Condensed_Light_Italic.otf
  src/assets/fonts/Proxima_Nova_Extra_Condensed_Regular.otf
  src/assets/fonts/Proxima_Nova_Extra_Condensed_Regular_Italic.otf
  src/assets/fonts/Proxima_Nova_Extra_Condensed_Semibold.otf
  src/assets/fonts/Proxima_Nova_Extra_Condensed_Semibold_Italic.otf
  src/assets/fonts/Proxima_Nova_Extra_Condensed_Thin.otf
  src/assets/fonts/Proxima_Nova_Extra_Condensed_Thin_Italic.otf
  src/assets/fonts/Proxima_Nova_Extrabold.otf
  src/assets/fonts/Proxima_Nova_Extrabold_Italic.otf
  src/assets/fonts/Proxima_Nova_Light.otf
  src/assets/fonts/Proxima_Nova_Light_Italic.otf
  src/assets/fonts/Proxima_Nova_Regular.otf
  src/assets/fonts/Proxima_Nova_Regular_Italic.otf
  src/assets/fonts/Proxima_Nova_Semibold.otf
  src/assets/fonts/Proxima_Nova_Semibold_Italic.otf
  src/assets/fonts/Proxima_Nova_Thin.otf
  src/assets/fonts/Proxima_Nova_Thin_Italic.otf
  src/components/ChartWrapper.vue
  tailwind.config.js
Labels: Complexity: Low, Status: Needs Review, Status: On Hold, Type: Feature

#812 fix: base show-more condition on meta object
  src/components/block/Transactions.vue
  src/components/wallet/Transactions.vue
  src/pages/Blocks.vue
  src/pages/Transaction.vue
Labels: Complexity: Low, Status: Member Approved, Type: Bugfix

#819 fix: unicode representation
  __tests__/unit/specs/mixins/crypto.spec.ts
  src/components/transaction/Details.vue
  src/locales/en-GB.ts
  src/mixins/crypto.ts
Labels: Complexity: Low, Status: Needs Review, Type: Bugfix

#824 refactor: remove invoke text calls
  __tests__/e2e/specs/blocks_spec.js
  __tests__/e2e/specs/bridgechains_spec.js
  __tests__/e2e/specs/businesses_spec.js
  __tests__/e2e/specs/delegate-monitor_spec.js
  __tests__/e2e/specs/delegates_spec.js
  __tests__/e2e/specs/homepage_spec.js
  __tests__/e2e/specs/top-wallets_spec.js
  __tests__/e2e/specs/transactions_spec.js
  __tests__/e2e/specs/voters_spec.js
  __tests__/e2e/specs/wallet_spec.js
Labels: Bounty: Tier 5, Complexity: Medium, Status: Member Approved

#814 refactor: make menu components dry
  src/components/header/AppHeader.vue
  src/components/header/menu/Desktop.vue
  src/components/header/menu/Mobile.vue
  src/components/search/BlockSearchForm.vue
  src/components/search/TransactionSearchForm.vue
  src/components/search/WalletSearchForm.vue
Labels: Bounty: Tier 4, Complexity: Low, Status: Member Approved, Type: Bugfix

#822 refactor: transaction recipient
  __tests__/e2e/specs/transaction-details_spec.js
  __tests__/unit/specs/components/links/LinkWallet.spec.ts
  __tests__/unit/specs/components/transaction/Details.spec.ts
  src/components/links/LinkWallet.vue
  src/components/tables/Transactions.vue
  src/components/tables/mobile/Transactions.vue
  src/components/transaction/Details.vue
  src/locales/en-GB.ts
Labels: Complexity: Low, Status: Needs Review, Type: Refactor

#835 fix: cypress verify failure
  yarn.lock
Labels: Complexity: Low, Type: Bugfix

#832 fix: default to address link
  __tests__/unit/specs/components/links/LinkAddress.spec.ts
  __tests__/unit/specs/components/links/LinkWallet.spec.ts
  src/components/links/LinkAddress.vue
  src/components/links/LinkWallet.vue
  src/components/links/index.ts
  src/components/transaction/Details.vue
  src/locales/en-GB.ts
Labels: Complexity: High, Type: Bugfix

#844 chore: replace circleci badge with gh actions badge
  README.md
Labels: Bounty: Tier 6, Complexity: Low, Status: Member Approved, Type: Task

#836 refactor: get htlcEnabled from config
  __tests__/unit/specs/store/modules/network.spec.ts
  src/App.vue
  src/components/wallet/Transactions.vue
  src/interfaces.ts
  src/pages/Wallet/Transactions.vue
  src/store/modules/network.ts
  src/store/mutation-types.ts
Labels: Bounty: Tier 4, Complexity: Low, Status: Member Approved, Status: Needs Review, Type: Refactor

#840 fix: tailwind fontSize config
  src/assets/css/_tables.css
  src/components/ContentHeader.vue
  src/components/tables/DelegateMonitor.vue
  src/components/tables/Delegates.vue
  src/components/tables/mobile/Delegates.vue
  src/components/wallet/Delegate.vue
  tailwind.config.js
Labels: Bounty: Tier 5, Complexity: Low, Status: Member Approved, Type: Bugfix

#841 refactor: calculate total forged based on initial supply
  __tests__/unit/specs/components/monitor/TotalForged.spec.ts
  __tests__/unit/specs/store/modules/network.spec.ts
  src/App.vue
  src/components/monitor/header/TotalForged.vue
  src/components/tables/Wallets.vue
  src/components/tables/WalletsSearch.vue
  src/components/tables/mobile/Wallets.vue
  src/components/tables/mobile/WalletsSearch.vue
  src/interfaces.ts
  src/pages/TopWallets.vue
  src/services/node.ts
  src/store/modules/network.ts
  src/store/mutation-types.ts
Labels: Bounty: Tier 4, Complexity: Medium, Status: Member Approved, Type: Refactor

#848 fix: keep tooltip attribute selector classes
  postcss.config.js
  src/assets/css/_tooltips.css
Labels: Complexity: Low, Type: Bugfix

#839 fix: set enabled transaction types
  __tests__/unit/specs/components/SelectionType.spec.ts
  __tests__/unit/specs/store/modules/network.spec.ts
  jest.config.js
  src/App.vue
  src/components/SelectionType.vue
  src/components/search/TransactionSearchForm.vue
  src/interfaces.ts
  src/pages/Wallet/Transactions.vue
  src/store/modules/network.ts
  src/store/mutation-types.ts
Labels: Bounty: Tier 4, Complexity: Low, Status: Member Approved, Status: Needs Review, Type: Bugfix
