Repository ArkEcosystem/explorer, pull requests merged in 2021-11, with the labels that each got.

#999 refactor: phpstan error "Variable method call"
  app/Console/Commands/CachePrices.php
  app/Services/Transactions/TransactionType.php
  app/Services/Transactions/TransactionTypeIcon.php
  app/Services/Transactions/TransactionTypeSlug.php
  phpstan.neon
Labels: refactor

#998 refactor: phpstan error "InvalidArgumentException constructor expects string"
  app/Services/Blockchain/NetworkFactory.php
  phpstan.neon
  resources/lang/en/exceptions.php
Labels: refactor

#997 refactor: phpstan error "withScope"
  app/Http/Livewire/Concerns/ManagesLatestTransactions.php
  app/Models/Block.php
  app/Models/Transaction.php
  app/Models/Wallet.php
  phpstan.neon
Labels: refactor

#996 refactor: phpstan error AbstractNetwork
  app/Facades/Network.php
  app/Services/Blockchain/Network.php
  phpstan.neon
Labels: refactor

#995 refactor: phpstan error "PendingDispatch given"
  app/Console/Commands/CacheDelegateProductivity.php
  app/Contracts/RoundRepository.php
  app/Facades/Rounds.php
  app/Models/Round.php
  app/Repositories/RoundRepository.php
  app/Repositories/RoundRepositoryWithCache.php
  phpstan.neon
Labels: refactor

#1000 chore: add drop invalid livewire requests middleware
  app/Http/Kernel.php
Labels: chore

#981 refactor: upgrade to latest version of chartjs
  app/Console/Playbooks/PlaybookDefinition.php
  app/DTO/MemoryWallet.php
  app/DTO/Slot.php
  app/Enums/StatsCache.php
  app/Exceptions/BlockNotFoundException.php
  app/Exceptions/Handler.php
  app/Exceptions/TransactionNotFoundException.php
  app/Exceptions/WalletNotFoundException.php
  app/Http/Livewire/Concerns/StatisticsChart.php
  app/Http/Livewire/DelegateActiveTable.php
  app/Http/Livewire/DelegateResignedTable.php
  app/Http/Livewire/DelegateStandbyTable.php
  app/Http/Livewire/LatestRecords.php
  app/Http/Livewire/PriceTicker.php
  app/Http/Livewire/Stats/InsightAllTimeFeesCollected.php
  app/Http/Livewire/Stats/InsightAllTimeTransactions.php
  app/Http/Livewire/StatsHighlights.php
  app/Http/Livewire/TransactionTable.php
  app/Http/Livewire/WalletBalance.php
  app/Http/Livewire/WalletVoterTable.php
  app/Http/Middleware/TrustProxies.php
  app/Models/User.php
  app/Providers/ExplorerServiceProvider.php
  app/Services/BigNumber.php
  app/View/Components/TableSkeleton.php
  composer.json
  composer.lock
  package.json
  public/css/app.css
  public/js/app.js
  public/js/app.js.LICENSE.txt
  public/js/vendor.js
  public/js/vendor.js.LICENSE.txt
  public/mix-manifest.json
  resources/js/price-chart.js
  tests/Feature/Http/Livewire/Stats/InsightAllTimeFeesCollectedTest.php
  tests/Feature/Http/Livewire/Stats/InsightAllTimeTransactionsTest.php
  yarn.lock
Labels: refactor

#1004 ci: update all dependencies on sunday midnight
  .github/workflows/deps.yml
Labels: ci

#1005 chore: use phpstan.neon configuration file from Foundation
  app/Console/Commands/CacheDelegateVoterCounts.php
  app/DTO/Slot.php
  app/Http/Livewire/BlockTable.php
  app/Http/Livewire/BlockTransactionsTable.php
  app/Http/Livewire/Concerns/DelegateData.php
  app/Http/Livewire/DelegateDataBoxes.php
  app/Http/Livewire/NetworkStatusBlockPrice.php
  app/Http/Livewire/PriceStats.php
  app/Http/Livewire/PriceTicker.php
  app/Http/Livewire/SearchModule.php
  app/Http/Livewire/SearchPage.php
  app/Http/Livewire/Stats/Chart.php
  app/Http/Livewire/Stats/InsightAllTimeFeesCollected.php
  app/Http/Livewire/Stats/InsightAllTimeTransactions.php
  app/Http/Livewire/TransactionTable.php
  app/Http/Livewire/WalletBalance.php
  app/Http/Livewire/WalletTransactionTable.php
  app/Http/Livewire/WalletVoterTable.php
  app/View/Components/TableSkeleton.php
  composer.json
  composer.lock
  phpstan.neon
  public/css/app.css
  public/mix-manifest.json
  tests/Unit/DTO/SlotTest.php
Labels: chore
