Repository ArkEcosystem/explorer, pull requests merged in 2021-12, with the labels that each got.

#1013 refactor: add `host.docker.internal` host to the docker container
  docker/docker-compose-build.yml
  docker/docker-compose.yml
Labels: refactor

#1012 refactor: roundness issue on transactions table + chrome
  resources/views/components/general/avatar.blade.php
Labels: refactor

#1014 refactor: import coingecko icon
  resources/icons/coingecko.svg
  resources/views/layouts/app.blade.php
Labels: refactor

#1008 ci: update dependency update workflows
  .github/workflows/deps.yml
Labels: ci

#1010 chore: update JavaScript dependencies
  package.json
  public/css/app.css
  public/js/app.js
  public/js/app.js.LICENSE.txt
  public/js/vendor.js
  public/js/vendor.js.LICENSE.txt
  public/mix-manifest.json
  yarn.lock
Labels: chore

#1015 refactor: remove `extra_hosts` from docker config
  docker/docker-compose-build.yml
  docker/docker-compose.yml
Labels: refactor

#1011 refactor: use table-compact styling from foundation
  composer.json
  composer.lock
  public/css/app.css
  public/js/app.js
  public/js/clipboard.js
  public/mix-manifest.json
  resources/css/_tables.css
  resources/views/layouts/app.blade.php
  tests/__snapshots__/DayAggregateTest__it_should_aggregate_the_fees_for_today__1.yml
  tests/__snapshots__/MonthAggregateTest__it_should_aggregate_the_fees_for_30_days__1.yml
  tests/__snapshots__/QuarterAggregateTest__it_should_aggregate_the_fees_for_3_months__1.yml
  tests/__snapshots__/RangeAggregateTest__it_should_aggregate_the_fees_for_the_given_range__1.yml
  tests/__snapshots__/WeekAggregateTest__it_should_aggregate_the_fees_for_7_days__1.yml
  tests/__snapshots__/YearAggregateTest__it_should_aggregate_the_fees_for_12_months__1.yml
Labels: refactor
