Repository ArkEcosystem/explorer, pull requests merged in 2022-01, with the labels that each got.

#1019 refactor: add dark theme script
  app/Http/Livewire/NavbarSettings.php
  app/Http/Livewire/Stats/Chart.php
  app/Http/Livewire/Stats/InsightAllTimeFeesCollected.php
  app/Http/Livewire/Stats/InsightAllTimeTransactions.php
  app/Services/Settings.php
  composer.json
  composer.lock
  public/css/app.css
  public/js/app.js
  public/mix-manifest.json
  resources/views/components/navbar/navbar.blade.php
  resources/views/errors/error.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/navbar-settings.blade.php
  resources/views/livewire/price-stats.blade.php
  tests/Feature/Http/Livewire/NavbarSettingsTest.php
  tests/Unit/Services/SettingsTest.php
Labels: on-hold, refactor

#1009 chore: update PHP dependencies
  composer.json
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  public/vendor/horizon/app-dark.css
  public/vendor/horizon/app.css
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
Labels: chore

#1021 fix: js dark mode component initial toggle
  app/Http/Livewire/NavbarSettings.php
  composer.json
  composer.lock
  resources/views/components/navbar/navbar.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/navbar-settings.blade.php
Labels: bugfix

#1018 refactor: update mobile search design
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/search/search-input.blade.php
  resources/views/components/general/search/search-modal.blade.php
  resources/views/components/general/search/search.blade.php
Labels: refactor

#1022 fix: switch filter label messing
  resources/views/livewire/wallet-transaction-table.blade.php
Labels: bugfix

#1017 refactor: update icon references
  composer.json
  composer.lock
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/amount-fiat-tooltip.blade.php
  resources/views/components/general/search/search-input.blade.php
  resources/views/components/grid/musig_participants.blade.php
  resources/views/components/navbar/navbar.blade.php
  resources/views/components/page-headers/block.blade.php
  resources/views/components/page-headers/wallet/voters.blade.php
  resources/views/components/tables/rows/desktop/sender-with-direction.blade.php
  resources/views/components/transaction-table-filter.blade.php
  resources/views/components/transactions/sender.blade.php
  resources/views/livewire/delegate-data-boxes.blade.php
  resources/views/livewire/navbar-settings.blade.php
  resources/views/livewire/network-status-block-price.blade.php
  resources/views/livewire/stats-highlights.blade.php
  resources/views/livewire/stats/chart.blade.php
  resources/views/livewire/wallet-transaction-table.blade.php
  resources/views/vendor/ark/pagination-url.blade.php
  resources/views/vendor/ark/pagination.blade.php
Labels: refactor

#1027 refactor: move public key button to match new design
  public/css/app.css
  public/mix-manifest.json
  resources/views/components/general/entity-header.blade.php
  resources/views/components/page-headers/wallet/actions/public-key.blade.php
  resources/views/components/page-headers/wallet/frame.blade.php
Labels: refactor

#1026 refactor: only clear views that are older than one hour
  app/Console/Commands/ClearExpiredViews.php
  app/Console/Kernel.php
  tests/Unit/Console/Commands/ClearExpiredViewsTest.php
Labels: refactor

#1028 fix: dynamic truncated text
  resources/views/components/truncate-dynamic.blade.php
Labels: bugfix

#1029 chore: update foundation
  composer.lock
Labels: chore

#1030 refactor: add composer allow-plugins on docker
  composer.json
Labels: refactor

#1033 fix: price graph height on the homepage
  composer.lock
  public/js/app.js
  public/mix-manifest.json
  resources/views/livewire/price-stats.blade.php
Labels: bugfix
